<ul>
  <% @files.each do |file| %>
  <li>
    <a href="/view?filename=<%=file%>"><%= file %></a>
    <a href="/<%=file%>/edit">Edit</a>
    <form class="inline" method="post" action="/<%= file %>/delete">
      <button type="submit">Delete</button>
    </form>
  </li>
  <% end %>

  <hr>

  <p><a href="/new">New Document</a></p>

  <% if session[:username] %>
    <form method="post" action="/users/signout">
      <p class="user-status">
        Signed in as <%= session[:username] %>
      <button type="submit">Sign Out</button>
      <p>
    </form>
  <% else %>
    <p class="user-status"><a href="/users/signin">Sign In</a></p>
  <% end %>
</ul>